extends layout

block content

  h1 著者: #{author.name}
  p (#{author.lifespan})
  
  div(style='margin-left:20px;margin-top:20px')

    h4 書誌情報
    
    dl
    each book in author_books
      dt 
        a(href=book.url) #{book.title}
      dd #{book.summary}

    else
      p この著者の書誌情報はありません。
      
  hr
  p
    a(href=author.url+'/delete') 著者削除
  p
    a(href=author.url+'/update') 著者更新