extends layout

block content

  h1 #{title}: #{book.title}

  p #[strong 著者:] 
    a(href=book.author.url) #{book.author.name}
  p #[strong 要約:] #{book.summary}
  p #[strong ISBN:] #{book.isbn}
  p #[strong ジャンル:] 
    each val in book.genre
      a(href=val.url) #{val.name}
      |, 

  hr

  if book_instances.length

    p #[strong この書籍を削除する前に、以下の書籍現物を削除してください。]

    div(style='margin-left:20px;margin-top:20px')

      h4 書籍現物

      each book_copy in book_instances
        hr
        if book_copy.status=='貸出可能'
          p.text-success #{book_copy.status}
        else if book_copy.status=='準備中'
          p.text-danger #{book_copy.status}
        else
          p.text-warning #{book_copy.status} 
        p #[strong 版:] #{book_copy.imprint}
        if book_copy.status!='貸出可能'
          p #[strong 期限:] #{book_copy.due_back_formatted}
        p #[strong Id:] 
          a(href=book_copy.url) #{book_copy._id}

  else
    p この書籍を削除してよろしいですか。

    form(method='POST' action='')
      div.form-group
        input#id.form-control(type='hidden',name='id', required='true', value=book._id )

      button.btn.btn-primary(type='submit') 削除