extends layout

block content

  h1 ジャンル: #{genre.name}
  
  div(style='margin-left:20px;margin-top:20px')

    h4 書籍
    
    dl
    each book in genre_books
      dt 
        a(href=book.url) #{book.title}
      dd #{book.summary}

    else
      p このジャンルの書籍はありません。
      
  hr
  p
    a(href=genre.url+'/delete') ジャンル削除
  p
    a(href=genre.url+'/update') ジャンル更新