extends layout

block content
  h1= title
  p #[em 書籍管理のデモサイトです。]


  h1 コンテンツ

  if error
    p コンテンツ取得に失敗しました。
  else

    p 書籍管理には以下のレコード数があります。

    ul
      li #[strong 書籍:] !{data.book_count}
      li #[strong 書籍状況:] !{data.book_instance_count}
      li #[strong 貸出可能書籍:] !{data.book_instance_available_count}
      li #[strong 著者:] !{data.author_count}
      li #[strong ジャンル:] !{data.genre_count}